
# app
APP_PORT=3000

# env
NODE_ENV=development

# database
MONGO_DATABASE_USER=[username]
MONGO_DATABASE_PASSWORD=[password]
MONGO_DATABASE_HOST=cluster0.i9d7sqr.mongodb.net
MONGO_DATABASE_NAME=[org-name]
MONGO_DATABASE_PORT=[PORT]


# jwt
JWT_ACCESS_TOKEN_SECRET=[secret]
JWT_REFRESH_TOKEN_SECRET=[secret]
JWT_ACCESS_TOKEN_EXPIRE_TIME=[14m]
JWT_REFRESH_TOKEN_EXPIRE_TIME=[7d]


# bcrypt
BCRYPT_SALT=[10]
REDIS_URL=[redis']

# org
ORG_NAME=[org-name]